:root {
  --branco: #f2f2f2;
  --roxo_vivo: #9857f2;
  --roxo_escuro: #4f3673;
  --preto: #262626;
  --verde: #98d96a;
  --cinza: #d4d3d3;
  --fundo_roxo: #e2d4f4;
}

@font-face {
  font-family: "Adam-Bold";
  src: url(../fontes/Adam-Bold.ttf);
}

@font-face {
  font-family: "Adam-Light";
  src: url(../fontes/Adam-Light.ttf);
}

@font-face {
  font-family: "Tommy-Light";
  src: url(../fontes/MADE\ TOMMY\ Light_PERSONAL\ USE.otf);
}

@font-face {
  font-family: "Tommy-Bold";
  src: url(../fontes/MADE\ TOMMY\ Bold_PERSONAL\ USE.otf);
}

@font-face {
  font-family: "Tommy-Medium";
  src: url(../fontes/MADE\ TOMMY\ Medium_PERSONAL\ USE.otf);
}

@font-face {
  font-family: "Tommy-Regular";
  src: url(../fontes/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}

@font-face {
  font-family: "Lemon-Milk";
  src: url(../fontes/LEMONMILK-Regular.otf);
}

body {
  background-color: var(--branco);
}

.logo {
  font-family: "Lemon-Milk";
  color: var(--branco);
  padding: 0 35px;
}

.navbar {
  background-color: var(--roxo_escuro);
  position: relative; 
  z-index: 10;   
}

.navbar .navbar-texto .nav-link {
  font-family: "Tommy-Light";
  color: var(--branco);
  padding: 0 30px;
}

/* SEÇÃO HEADER */

.header {
  background-color: var(--roxo_escuro);
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: center;
  padding: 5% 0 5% 10%;
  overflow: visible;
}

.header img {
  position: absolute;
  right: 0;
  top: 70%;
  transform: translateY(-50%);
  width: 100vw;
  max-width: 55%;
  z-index: 2; 
}

.header h1 {
  font-family: "Tommy-Bold";
  color: var(--branco);
  font-size: clamp(1.2rem, 3vw, 2.5rem);
  margin-top: 7%;
}

.header h5 {
  font-family: "Tommy-Medium";
  color: var(--branco);
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
 
}

.header button {
  color: var(--preto);
  background-color: var(--verde);
  border: none;
  height: 40px;
  padding: 0 40px;
  font-family: "Tommy-Medium";
  border-radius: 30px;
  box-shadow: 0px 10px 21px 5px #0000001a;
  margin-top: 5%;
}

/* SEÇÃO PROJETO */

.titulo {
  color: var(--branco);
  font-family: "Tommy-Bold";
  margin-left: 1%;
  border-left: 4px solid var(--roxo_vivo);
  padding-left: 12px;
  margin-left: 32px;
}

#produto {
  background-color: var(--roxo_escuro);
  padding: 15% 8% 8%;
  position: relative;
  z-index: 1; 
}

.titulo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-projeto {
  background-color: var(--branco);
  border-color: #d4d3d3;
  width: 92%;
  height: 90%;
  border-radius: 16px;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 9%;
  margin-left: 4%;
}

.img-card {
  width: 70px;
  height: 70px;
}

.titulo-card {
  font-family: "Tommy-Medium";
}

.texto-card {
  font-family: "Tommy-Medium";
  font-size: 15px;
}

/* SEÇÃO AURA */

.img-computador-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  padding-top: 14.5%;
}

.img-computador {
  max-width: 80%;
  height: auto;
}

.titulo-aura {
  color: var(--preto);
  font-family: "Adam-Bold";
  font-weight: bold;
  border-left: 4px solid var(--roxo_vivo);
  padding-left: 12px;
  margin-left: 32px;
  font-size: clamp(40px, 5vw, 45px);
}

.cards-steps {
  max-width: 79%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 15%;
}

.card-step {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 17px;
  padding: 40px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.15);

}

.step-numero {
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--fundo_roxo);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: 500;
  color: var(--roxo_vivo);
}

.step-titulo {
    font-family: "Tommy-Regular";
    font-weight: bold;
    margin: 0 0 4px 0;
    font-size: 16px;
    font-weight: 600; 
}

.step-texto {
    font-family: "Tommy-Regular";
    margin: 0;
    font-size: 14px;
    color: #666666;
}

/* SEÇÃO SOBRE NÓS  */

.titulo-equipe {
  color: var(--preto );
  font-family: "Tommy-Bold";
  border-left: 4px solid var(--roxo_vivo);
  padding-left: 12px;
  margin-left: 32px;
}

.sobre-nos-background {
  background-color: var(--branco);
  padding: 100px;
}

.sobre-nos-texto {
  font-size: 20px;
  font-family: "Tommy-Regular";
  margin-left: 3.7%;
}

.equipe__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-left: 2.5%;
  justify-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.card-equipe {
  position: relative;
  width: 100%;
  aspect-ratio: 220 / 350;
  border-radius: 12px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-bottom: 5px solid var(--roxo_vivo);
}

.texto-nome {
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-family: "Tommy-Regular";
  font-size: 1rem;
  margin: 0;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #fff;
  transition:
    height 0.5s ease,
    opacity 0.4s ease;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
}

.card-equipe:hover .overlay {
  height: 100%;
  opacity: 1;
}

.card-equipe:hover .texto-nome {
  opacity: 0;
}

.card-img {
  width: 25px;
  margin-bottom: 10px;
}

.overlay h5 {
  font-family: "Tommy-Bold";
  color: var(--roxo_vivo);
  margin: 0 0 10px;
  text-align: center;
  font-size: 1.2rem;
}

.overlay p {
  font-size: 0.8rem;
  color: var(--preto);
  text-align: left;
  font-family: "Tommy-Light";
  line-height: 1.5;
  margin: 0;
}

/* SEÇÃO FOOTER */

footer .container-fluid {
  background-color: var(--preto);
  padding: 60px 0;
}

footer .img-logo-astra img {
  width: 60%;
  height: auto;
}

.divider {
  width: 1px !important;
  height: 170px !important;
  background-color: var(--branco);
  border: none;
  margin: 0 auto;
}

footer .footer-fot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0 0 16px 0;
}

footer .fot-link {
  color: var(--branco);
  font-family: "Tommy-Light";
  opacity: 0.7;
  text-decoration: none;
  white-space: nowrap;     
}

footer .fot-link:hover {
  opacity: 1;
}

.direitos {
  color: #ffffff;
  font-family: "Tommy-Light";
  opacity: 0.5;
  text-align: center;
  margin: 0;
}